@model IEnumerable<mvcwithlogin.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Player Lists</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Ban" asp-route-id="@item.Id" class="btn btn-danger">Ban</a>
                <a asp-action="Sus" asp-route-id="@item.Id" class="btn btn-warning">Suspend</a>
                <a asp-action="Release" asp-route-id="@item.Id" class="btn btn-outline-primary">Release</a>
            </td>
        </tr>
}
    </tbody>
</table>
